<!DOCTYPE html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Quản trị</title>

    <!-- Fontfaces CSS-->
    <link href="~/Content/Extra/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/Extra/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Extra/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Extra/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Content/Extra/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Content/Extra/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Extra/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Extra/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/Extra/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Extra/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/Extra/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Extra/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Content/Extra/css/theme.css" rel="stylesheet" media="all">

</head>
@using ShopASP.Models
<body class="animsition">
    <div class="page-wrapper">

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/Admin">GOOFLOW</a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">

                        <li>
                            <a href="/Admin/Index">
                                <i class="fas fa-chart-bar"></i>Tổng quan
                            </a>
                        </li>

                        <li>
                            <a href="/Admin/Employee">
                                <i class="fas fa-user"></i>Nhân viên
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Customer">
                                <i class="fas fa-users"></i>Khách hàng
                            </a>
                        </li>

                        <li>
                            <a href="/Admin/">
                                <i class="fas fa-clipboard"></i>Đơn hàng đang chờ
                            </a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-archive"></i>Đơn hàng đã xử lý
                            </a>
                        </li>

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="~/Images/Rem_00015.png" alt="admin" />
                                        </div>
                                        <div class="content">
                                            @if (Session["admin"] != null)
                                            {
                                            <a class="js-acc-btn" href="#">@(((account)Session["admin"]).account_username)</a>
                                            }
                                            else
                                            {
                                                <a class="js-acc-btn" href="#">username</a>
                                            }
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/Images/Rem_00015.png" alt="admin" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        @if (Session["admin"] != null)
                                                        {
                                                            <a href="#">@(((account)Session["admin"]).account_username)</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#">username</a>
                                                        }
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Đổi mật khẩu</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/Admin/Logout">
                                                    <i class="zmdi zmdi-power"></i>Đăng xuất</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="~/Content/Extra/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Content/Extra/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Content/Extra/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Content/Extra/vendor/slick/slick.min.js">
    </script>
    <script src="~/Content/Extra/vendor/wow/wow.min.js"></script>
    <script src="~/Content/Extra/vendor/animsition/animsition.min.js"></script>
    <script src="~/Content/Extra/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Content/Extra/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Content/Extra/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Content/Extra/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/Extra/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/Extra/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Content/Extra/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/Content/Extra/js/main.js"></script>

</body>

</html>
<!-- end document-->


